<div style=@($"{Style}; display: flex; justify-content: center; align-items: center;")>
    <svg style="width: 100%; height:  100%;"  viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_688_2753)">
            <path d="M12.627 0.366943C5.7381 0.366943 0.152344 5.9527 0.152344 12.8416C0.152344 19.7305 5.7381 25.3163 12.627 25.3163C19.5159 25.3163 25.1017 19.7305 25.1017 12.8416C25.1017 5.9527 19.5159 0.366943 12.627 0.366943ZM12.627 23.2C6.9076 23.2 2.26858 18.561 2.26858 12.8416C2.26858 10.3634 3.14014 8.08564 4.59366 6.30355L19.1651 20.875C17.383 22.3285 15.1052 23.2 12.627 23.2ZM20.6604 19.3797L6.08895 4.80826C7.87104 3.35474 10.1488 2.48318 12.627 2.48318C18.3464 2.48318 22.9854 7.12219 22.9854 12.8416C22.9854 15.3198 22.1139 17.5976 20.6604 19.3797Z" fill="#E0232E"/>
        </g>
        <defs>
            <clipPath id="clip0_688_2753">
                <rect width="25" height="25" fill="white" transform="translate(0.128906 0.341553)"/>
            </clipPath>
        </defs>
    </svg>
</div>

@code
{
    [Parameter]
    public string Style { get; set; }
}