<div style=@($"{Style}; display: flex; justify-content: center; align-items: center;")>
    <svg style="width: 100%; height:  100%;" viewBox="0 0 30 30"  fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_688_2760)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.8382 3.63388C27.9313 3.72677 28.0052 3.83712 28.0556 3.95861C28.106 4.0801 28.132 4.21034 28.132 4.34188C28.132 4.47341 28.106 4.60365 28.0556 4.72514C28.0052 4.84663 27.9313 4.95698 27.8382 5.04988L13.8382 19.0499C13.7453 19.143 13.6349 19.2169 13.5134 19.2673C13.3919 19.3177 13.2617 19.3437 13.1302 19.3437C12.9986 19.3437 12.8684 19.3177 12.7469 19.2673C12.6254 19.2169 12.5151 19.143 12.4222 19.0499L6.42217 13.0499C6.32919 12.9569 6.25544 12.8465 6.20512 12.725C6.1548 12.6036 6.12891 12.4734 6.12891 12.3419C6.12891 12.2104 6.1548 12.0802 6.20512 11.9587C6.25544 11.8372 6.32919 11.7269 6.42217 11.6339C6.51515 11.5409 6.62552 11.4671 6.747 11.4168C6.86848 11.3665 6.99868 11.3406 7.13017 11.3406C7.26166 11.3406 7.39186 11.3665 7.51334 11.4168C7.63482 11.4671 7.74519 11.5409 7.83817 11.6339L13.1302 16.9279L26.4222 3.63388C26.5151 3.54075 26.6254 3.46686 26.7469 3.41645C26.8684 3.36604 26.9986 3.34009 27.1302 3.34009C27.2617 3.34009 27.3919 3.36604 27.5134 3.41645C27.6349 3.46686 27.7453 3.54075 27.8382 3.63388Z" fill="#2DC071"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1289 3.34178C10.9533 3.34178 8.82659 3.98691 7.01765 5.19561C5.20871 6.40431 3.79881 8.12227 2.96625 10.1323C2.13369 12.1422 1.91585 14.354 2.34029 16.4878C2.76472 18.6216 3.81237 20.5816 5.35075 22.12C6.88913 23.6583 8.84914 24.706 10.9829 25.1304C13.1167 25.5549 15.3285 25.337 17.3384 24.5045C19.3484 23.6719 21.0664 22.262 22.2751 20.4531C23.4838 18.6441 24.1289 16.5174 24.1289 14.3418C24.1289 14.0766 24.2343 13.8222 24.4218 13.6347C24.6094 13.4471 24.8637 13.3418 25.1289 13.3418C25.3941 13.3418 25.6485 13.4471 25.836 13.6347C26.0236 13.8222 26.1289 14.0766 26.1289 14.3418C26.1286 17.2035 25.184 19.985 23.4416 22.2552C21.6993 24.5253 19.2566 26.1571 16.4924 26.8975C13.7281 27.6379 10.7968 27.4455 8.15308 26.3501C5.50932 25.2548 3.30085 23.3178 1.87018 20.8394C0.4395 18.361 -0.133437 15.4798 0.240223 12.6426C0.613883 9.80547 1.91326 7.17087 3.93683 5.14742C5.96041 3.12398 8.59509 1.82477 11.4323 1.4513C14.2695 1.07782 17.1506 1.65094 19.6289 3.08178C19.7484 3.14429 19.8541 3.23033 19.9394 3.33473C20.0248 3.43912 20.0882 3.55971 20.1258 3.68924C20.1634 3.81877 20.1744 3.95456 20.1581 4.08844C20.1418 4.22233 20.0987 4.35154 20.0312 4.4683C19.9637 4.58507 19.8733 4.68698 19.7654 4.76789C19.6575 4.84881 19.5343 4.90706 19.4033 4.93915C19.2723 4.97123 19.1362 4.97649 19.0031 4.9546C18.87 4.93271 18.7427 4.88413 18.6289 4.81178C16.9574 3.84516 15.0598 3.338 13.1289 3.34178Z" fill="#2DC071"/>
        </g>
        <defs>
            <clipPath id="clip0_688_2760">
                <rect width="29" height="27" fill="white" transform="translate(0.128906 0.341553)"/>
            </clipPath>
        </defs>
    </svg>
</div>
@code
{
    [Parameter] public string Style { get; set; }
}
