<div style=@($"{Style}; display: flex; justify-content: center; align-items: center;")>
    <svg style="width: 100%; height:  100%;" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.078 2.5495L1.15076 21.5914L23.1506 21.5073L12.078 2.5495ZM12.0933 6.54947L19.673 19.5206L4.61309 19.5782L12.0933 6.54947ZM11.1086 10.5533L11.1239 14.5532L13.1239 14.5456L13.1086 10.5456L11.1086 10.5533ZM11.1316 16.5532L11.1392 18.5532L13.1392 18.5456L13.1316 16.5456" fill="#E77C40"/>
    </svg>
</div>

@code
{
    [Parameter] public string Style { get; set; }
}
