<div class="@("modal " + (Show ? "modal-show" : "modal-hide"))">
    <div class="background" @onclick="CloseModal"></div>
    <div class="modal-container">
        @if (!string.IsNullOrEmpty(Title))
        {
            <div class="header">@Title</div>
        }
        <div class="content">
            @ChildContent
        </div>
    </div>
</div>