.inputSelect > input[b-jeri5jjwr1]{
    margin: var(--basic-margin);
    appearance: none;

    font-size: 16px;
    font-family: inherit;

    background: #ffffff;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;

    display: block;
    width: 100%;
    transition: .2s;

    position: relative;
}
.inputSelect > input:hover[b-jeri5jjwr1]{
    border-color: rgb(var(--primary-color));
}
.inputSelect > input:focus[b-jeri5jjwr1],
.inputSelect > input:focus-visible[b-jeri5jjwr1] {
    outline: none;
    border-color: rgb(var(--primary-color));
    box-shadow: 0 0 5px 1px rgb(var(--primary-color), 0.3);
}

.inputSelect > ul[b-jeri5jjwr1]{
    background: white;
    padding: 0;
    margin: 0;
    box-shadow: var(--basic-shadow);
    border-radius: 2px;
    
    overflow: hidden;
    
    position: absolute;
    min-width: 200px;
    
    z-index: 2;
    
    transition: 0.5s;
}
.showList[b-jeri5jjwr1]{
    /*opacity: 1;*/
    visibility: visible;
    max-height: 200px;
}
.removeList[b-jeri5jjwr1]{
    /*opacity: 0.2;*/
    visibility: hidden;
    max-height: 0;
}
.inputSelect > ul > li[b-jeri5jjwr1]{
    list-style: none;
    margin: 0;
    border: 0;
    padding: 10px;
    transition: .2s;
    overflow: hidden;
}
.inputSelect > ul > li:hover[b-jeri5jjwr1]{
    background: rgba(var(--primary-color-hover), 0.1);
    cursor: pointer;
}
.liChecked[b-jeri5jjwr1] {
    background: rgba(var(--primary-color-hover), 0.2);
}
.inputSelect > ul > li:first-child[b-jeri5jjwr1]{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.inputSelect > ul > li:last-child[b-jeri5jjwr1]{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}