.button[b-ae51p5xecw] {
    padding: 10px 10px;
    background: white;
    border-radius: 5px;
    width: max-content;
    min-width: 25px;
    color: var(--color-text-basic);
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    box-shadow: var(--basic-shadow);

    cursor: pointer;
    transition: 0.2s;

    position: relative;
    overflow: hidden;

    margin: var(--basic-margin);
}
.button > span[b-ae51p5xecw]{
    display: block;
}
.button-small[b-ae51p5xecw]{
    font-size: 0.8em;
    min-width: 20px;
}
.button-default[b-ae51p5xecw]{
    font-size: 1em;
}
.button-large[b-ae51p5xecw]{
    font-size: 1.2em;
}

.button > *[b-ae51p5xecw],
.button[b-ae51p5xecw]{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.button > *[b-ae51p5xecw]{
    pointer-events: none;
}

.button-primary[b-ae51p5xecw]{
    background: rgb(var(--primary-color));
    color: var(--color-text-over-primary);
}
.button-primary:hover[b-ae51p5xecw],
.button-primary:active[b-ae51p5xecw],
.button-primary:focus[b-ae51p5xecw]{
    background-color: rgb(var(--primary-color-hover));
}
.button-secondary[b-ae51p5xecw]{
    background: white;
    color: var(--color-text-basic);
    
    border-color: var(--border-color);
}
.button-secondary:hover[b-ae51p5xecw],
.button-secondary:active[b-ae51p5xecw],
.button-secondary:focus[b-ae51p5xecw]{
    border: 1px solid rgb(var(--primary-color));
    color: rgb(var(--primary-color));
}

.button:active > .wave[b-ae51p5xecw]{
    animation: step-start;
}
.wave[b-ae51p5xecw]{
    border-radius: 50%;
    background: transparent;
    
    width: 1px;
    height: 1px;

    position: absolute;
}
.button-primary > .wave[b-ae51p5xecw]{
    animation: animate1-b-ae51p5xecw 0.75s;
}
.button-secondary > .wave[b-ae51p5xecw]{
    animation: animate2-b-ae51p5xecw 0.75s;
}
@keyframes animate1-b-ae51p5xecw {
    0%{
        transform: scale(0);
        background: rgba(255,255,255, 0.4);
    }
    100%{
        transform: scale(200);
        background: rgba(255,255,255, 0);
    }
}
@keyframes animate2-b-ae51p5xecw {
    0%{
        transform: scale(0);
        background: rgba(var(--primary-color-hover), 0.4);
    }
    100%{
        transform: scale(200);
        background: rgba(255,255,255, 0);
    }
}