.button {
    padding: 10px 10px;
    background: white;
    border-radius: 5px;
    width: max-content;
    min-width: 25px;
    color: var(--color-text-basic);
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    box-shadow: var(--basic-shadow);

    cursor: pointer;
    transition: 0.2s;

    position: relative;
    overflow: hidden;

    margin: var(--basic-margin);
}
.button > span{
    display: block;
}
.button-small{
    font-size: 0.8em;
    min-width: 20px;
}
.button-default{
    font-size: 1em;
}
.button-large{
    font-size: 1.2em;
}

.button > *,
.button{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.button > *{
    pointer-events: none;
}

.button-primary{
    background: rgb(var(--primary-color));
    color: var(--color-text-over-primary);
}
.button-primary:hover,
.button-primary:active,
.button-primary:focus{
    background-color: rgb(var(--primary-color-hover));
}
.button-secondary{
    background: white;
    color: var(--color-text-basic);
    
    border-color: var(--border-color);
}
.button-secondary:hover,
.button-secondary:active,
.button-secondary:focus{
    border: 1px solid rgb(var(--primary-color));
    color: rgb(var(--primary-color));
}

.button:active > .wave{
    animation: step-start;
}
.wave{
    border-radius: 50%;
    background: transparent;
    
    width: 1px;
    height: 1px;

    position: absolute;
}
.button-primary > .wave{
    animation: animate1 0.75s;
}
.button-secondary > .wave{
    animation: animate2 0.75s;
}
@keyframes animate1 {
    0%{
        transform: scale(0);
        background: rgba(255,255,255, 0.4);
    }
    100%{
        transform: scale(200);
        background: rgba(255,255,255, 0);
    }
}
@keyframes animate2 {
    0%{
        transform: scale(0);
        background: rgba(var(--primary-color-hover), 0.4);
    }
    100%{
        transform: scale(200);
        background: rgba(255,255,255, 0);
    }
}