.radioButton{
    display: inline-flex;
    overflow: hidden;
    margin: var(--basic-margin);
}
.radioButton > input{
    display: none;
}
.radioButton > label{
    position: relative;
    padding-left: 30px;
    height: 30px;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    
}
.radioButton > label > div{
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    
    box-sizing: border-box;

    position: absolute;
    left: 5px;
    top: calc(50% - 10px);
    z-index: 1;
    
    transition: 0.2s;
}
.radioButton:hover > label > div,
.radioButton > input:checked ~ label > div{
    border-color: rgb(var(--primary-color));
}
.radioButton > input:checked ~ label > div:before{
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    
    border-radius: 50%;
    
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    /*rgb(var(--primary-color))*/
    box-sizing: border-box;
    background: white;
    z-index: 2;
    
    animation: animate 0.4s;
}
.radioButton > input:checked ~ label > div{
    background: rgb(var(--primary-color));
}
@keyframes animate {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}