@{
    Guid id = Guid.NewGuid();
}
<div class="checkboxButton" style="@Style">
    <input id="@id" type="checkbox" />
    <label for="@id">
        <span>@Label</span>
        <div></div>
    </label>
</div>